
footer{
    background-color: #3B4754;
    color: white;
    box-sizing: border-box;
}

.footer{
    display: flex;
    padding: 4%;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    box-sizing: border-box;
}

.seccion1,.seccion2, .seccion3{
    padding: 0% 2%;
    justify-content: center;
    justify-self: center;

}

.seccion1{
    width: 25%;
    text-align: center;
}

.seccion2{
    width: 50%;
    text-align: center;
    border: #FFFFFF solid 1px;
    border-top: none;
    border-bottom: none;
}

.seccion3{
    width: 25%;
    text-align: center;
}

.imgfooter{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.imgsfooter{
    padding-top: 6%;
    width: 20%;
}

.titlefooter{
    font-weight: bold;
    padding: 2% 0%;
}

.bodyfooter{
    padding: 1.5rem 0%;
}

.reference{
    font-size: 0.9rem;
    text-align: center;
}

.reference a{
    text-decoration: none;
}

.creditos .reference{
    padding-bottom: 2%;
}
.reference :nth-child(1){
    color: #FFFFFF;
}

@media screen and (max-width:768px){
    .footer{
        font-size: 0.6rem;}
}