@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    margin-top: 88px;
}

/*CSS DEL MENU*/

div header{
    position: fixed;
    width: 100%;
    top:0;
    box-shadow: 0px 1px 10px
    rgba(0, 0, 0, 0.4);
    background-color: white;
    color: rgb(59,71,84);
    display: flex;
    z-index: 3;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

img{
    max-width: 100%;
}

.logo{
    display: flex;
    align-items:center;
}

.togglemenu{
    width: 30px;
    position: absolute;
    top: 1rem;
    left:1rem;
    cursor: pointer;
    z-index: 1;
}

img.logo{
    max-width: 100%;
    display: flex;
    align-items: center;
    cursor:pointer;
    margin: 10px 15px;
    z-index: 999;
    position: sticky;
}


.menu{
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
}


.bossmenu{
    transform: translateX(-200%);
}

.sesion:hover{
    background-color:rgb(205, 21, 21);
    transition: all 500ms ease;
    color: white;
}

.sesion {
    padding: 7px;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px 20px 20px 20px;
    background-color: #FF6C6C;
    border: 1px;
}

.sesion2 a{
    background-color: none;
    color: #FF6C6C;
    margin-bottom: 60px;

}

.sesion2{
    border: none;
    background-color: white;
    color: black;
}

.sesion a{
    color: white;
}

.logo a{
    text-decoration: none;
    color: black;
}

.logo a:hover{
    color: #FF6C6C;
    transition: all 300ms ease;
}
.botones-sesion{
    display: flex;
    gap: 15px;
    margin-top: -2px;
}
.botones-sesion a{
    font-size: 18px;
}

 

@media screen and (max-width:767px) {
    .main-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: rgb(59,71,84);
        padding: 10px 20px;
        width: 100%;
        height: auto;
        transform: translateX(-200%);
        transition: transform 0.3s;
        position: absolute;
        background-color: white;
        box-sizing: border-box;
    }

    header{
        width: 100%;
        flex-direction: row-reverse;
    }

    ul.menu{
        padding: 50px 0px;
    }

    .logo a .textlogo{
        display: none;
    }
}

@media screen and (min-width:768px)  {
    .togglemenu{
        display: none;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }
    .logo a .textlogo{
        display: none;
    }

    .menu {
        flex-direction: row;
        transform: translateX(0);
    }

    .main-menu {
        transform: translateY(0);
    }
}

@media screen and (min-width:1279px)  {
    .logo a .textlogo {
        display: block;
    }
}


.mainmenu-view{
    transform: translateY(0);
}

.menu a{
    text-decoration: none;
}

.menu .contacto a:hover{
    transition: all 300ms ease;
    color: #FF6C6C;
}

.menu .nosotros a:hover{
    transition: all 300ms ease;
    color: #FF6C6C;
}

.menu .enfermedades a:hover{
    transition: all 300ms ease;
    color: #FF6C6C;
    
}

.menu .consultas a:hover{
    transition: all 300ms ease;
    color: #FF6C6C;
}

.menu .sesion2 a:hover{
    transition: all 300ms ease-out;
    color: #FF6C6C;
}

.enfermedades h2{
    color: #3B4754;
}
.menu{
    display: flex;
    gap: 1.25rem;
}

.option{
    display: flex;
    gap: 0.625rem;
    margin-right: 1.5rem;
}
.select{
    padding: 5px;
    display: flex;
    border-radius: 5px;
    
}
.principal:hover{
    transition: all 500ms ease;
    background-color: #cd1515;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
}
.option:hover{
    transition: .3s;
    color: white;
    background-color: #FF6C6C;
    padding: 5px;
    border-radius: 5px;
}
.selector{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.options-langs{
    display: none;
}
.mostrar{
    display: block;
}

.nosotros, .enfermedades, .contacto, .consultas{
    padding-top: 5px;
    color: black;
}

 

.nosotros a, .enfermedades a, .contacto a, .consultas a{
    padding-top: 3px;
    color: #3B4754;
}


/* IDIOMAS */

.spanish{
    display: none;
}

.english{
    display: none;
}

.mostrarIdioma{
    display: block;
}

/*Perfiles*/

.perfilSesion{
    padding-top: 2px;
    color: red;
    font-size: 1.125rem;
}

.esconder{
    display: none;
}

.logout a{
    background-color: none;
    color: white;
    margin-bottom: 60px;
    border-radius: 20px 20px 20px 20px;
}

.logout:hover{
    background-color:rgb(205, 21, 21);
    transition: all 500ms ease;
    color: white;
}

.logout {
    border-radius: 20px 20px 20px 20px;
    background-color: #FF6C6C;
    border: none;
    color: black;
    font-size: 1.125rem;
    padding: 7px;
}