
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}  

.healthyabout{
    padding: 0px 30px;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fc4949;
}

.about{
    flex-wrap: wrap;
}

.textabout{
    height: auto;
    align-items: center;
    flex: 1;
    padding: 2% 30px;
    border-width: 5px;
}

.bodyhealthy{
    padding-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:block;
    text-align: justify;
    color: white;
    padding: 1em 3em;
    font-size: 1.875em;
}

.bodyhealthy2{
    padding-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    text-align: justify;
    color: white;
    padding: 0em 3em;
    font-size: 1.875em;
}

.tittlehealthy{
    text-align: center;
    font-weight: bold;
    font-family: 'Alegreya', serif;
    font-size: 70px;
    color: white;
    display: block;
}


.imgabout{
    display: flex;
    height: auto;
    width: 45%;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
}


.imgabout img{
    height: auto;
    width: 100%;
    background: white;
    border: 1px solid black;
    display: flex;
}



/* CSS Mision y Vision */

.boxmv{
    border-style: solid;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: #D6D6D6;
    padding: 5% 10%;
}

.boxmv h1{
    text-align: center;
    font-family: 'ABeeZee', sans-serif;
    font-size: 50px;
    margin-bottom: 50px;
}

.misionmaster{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 55px;
    margin-left: 50px;
}

.visionmaster{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
}

.mision{
    background-color: #fc4949;
    padding: 60px 50px 50px 50px;
    max-width: 100%;
    border-radius: 10px;
}

.vision{
    background-color: #fc4949;
    padding: 60px 50px 50px 50px;
    max-width: 100%;
    border-radius: 10px;
}

.tittlemv{
    font-weight: bolder;
    font-size: 40px;
    font-family: 'ABeeZee', sans-serif;
    padding-bottom: 15px;
    text-align: center;
    color: white;
}

.textmv{
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}

.imgms{
    max-width: 80%;
}

.imgvs{
    width: 80%;
}


.colorabout{
    background-color: white;
}

/* CSS DE VALORES */

.txtmv{
    text-align: center;
    font-family: 'ABeeZee', sans-serif;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.container-slider{
    width: 50%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 10px #fc4949 , 0 15px 50px ;
    margin-bottom: 100px;
}

.slider{
    height: 500px;
    width: 500%;
    display: flex;

    animation: cambio 20s infinite alternate;
}

.slider__section{
    width: 100%;
}

.slider__section p{
    font-size: 30px;
    text-align: center;
    font-family: 'ABeeZee', sans-serif;
}

.slider__img{
    display: block;
    width: 100%;
    height: 100%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    15% {margin-left: 0;}

    20% {margin-left: -100%;}
    35% {margin-left: -100%;}

    40% {margin-left: -200%;}
    55% {margin-left: -200%;}

    60% {margin-left: -300%;}
    75% {margin-left: -300%;}

    80% {margin-left: -400%;}
    100% {margin-left: -400%;}
}


/* objetivos */

.boxobjetivos{
    border-style: solid;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: #D6D6D6;
    padding: 1% 10%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.textobjs{
    width: 65%;
}

.posimgobjs{
    width: 35%;
    padding: 55px 0 0 0;
}

.tittleobjetivos{
    font-size: 55px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-weight: bold;
    color: #000;
    margin-bottom: 40px;
    margin-top: 50px;
}

.tittleobjsgeneral{
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    font-weight: bold;
}

.objsgeneralcontrol{
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 21px;
    padding: 4% 0 4%;
}

.txtobjsgeneral{
    padding-left: 1%;
}

.number{
    border: #000 solid;
    border-radius: 10px;
    background-color: #fc4949;
    padding: 1% 2%;
}

.tittleobjsespecifico{
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 2%;
}

.objsespecificocontrol{
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 21px;
    padding: 2% 0 5% 0;
}

.objsespecificocontrol2{
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 21px;
    padding-bottom: 10%;
}

.txtobjsespecificos{
    padding-left: 1%;
}

@media screen and (max-width:768px) {

    .textabout{
        width: 100%;
        height: auto;
        align-items: center;
        border: none;
        }

    
}

@media screen and (max-width:768px) {
    .imgabout{
        height: auto;
        width: 70%;
        flex-wrap: wrap;
    }
    .imgabout img{
        height: auto;
        width: 100%;
    }

    .textabout{
        height: auto;
        align-items: center;
        flex: 1;
        padding: 2% 10px;
        border-width: 5px;
    }
        
    .bodyhealthy{
        padding-top: 50px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        display:block;
        text-align: justify;
        color: white;
        padding: 1em 1em;
        font-size: 1em;
    }
        
    .bodyhealthy2{
        padding-top: 50px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        display: block;
        text-align: justify;
        color: white;
        padding: 0em 1em;
        font-size: 1em;
    }
        
    .tittlehealthy{
        text-align: center;
        font-weight: bold;
        font-family: 'Alegreya', serif;
        font-size: 3rem;
        color: white;
        display: block;
    }


    .posimgobjs{
        display: none;
    }

    .boxobjetivos{
        width: 100%;
    }

    .textobjs{
        width: 100%;
    }

    .objsgeneralcontrol, .objsespecificocontrol, .objsespecificocontrol2{
        padding: 2% 0;
    }
}



