@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}


.cuerpo-contact{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.color-contact{
    background-color: white;
    width: 100%;
}

.position-contact{
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}

.text-contact{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #D6D6D6;
}


.ti1 {
    font-size: 60px;
    color: white;
    font-family: "Open Sans", sans-serif;
    line-height: 1.2;
    text-align: center;
    flex-wrap: wrap; 
    display: block;
    padding: 0em 0em 0 2.1em;
}

.ti2 {
    font-size: 26px;
    color: black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    display: block;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 50px;
    font-weight: 500;
}

.txt{
    background: url(../multimedia/imagenes/contactos.gif) no-repeat left 40%;
    background-color: rgba(0,0,0,0.75);
    background-blend-mode: soft-light;
    background-size: cover;
    width: 100%;
    height: 88vh;
    border-bottom: 2px solid black;
}

.txt-container{
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 50%;
}

.border{
    text-align: center;
    margin-top: 60px;
    font-size: 35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* form */

:focus{
    outline: none;
}

.content{
    width: 1050px;
    height: 530px;
    margin: 50px auto;
    background-color: #3B4754;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 90px;
}

.contact::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fc4949;
    opacity: 0.9;
}

.contact{
    width: 38%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../multimedia/imagenes/fondo2.jpg);
    background-size: cover;
    background-position: center center;
}

.info,
.items{
    position: relative;
    z-index: 2;
    color: #fff;
}

.info{
    margin-bottom: 60px;
}

.info .img{
    font-size: 100px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 36px;
}

.info h2{
    font-size: 35px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.items p{
    display: flex;
    align-items: center;
    font-size: 16.5px;
    font-weight: 600;
    margin-bottom: 10px;
}

.items p:nth-child(1) img{
    font-size: 30px;
    margin-right: 10px;
}

.items p:nth-child(2) img{
    font-size: 30px;
    margin-right: 10px;
    margin-left: 0px;
}

form.form{
    width: 62%;
    padding: 30px 40px;
}

form.form h2{
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    text-align: center
}

form.form .user{
    display: flex;
    flex-direction: column;
}

form.form label{
    font-weight: 600;
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form.form input,
form.form textarea{
    width: 100%;
    border: none;
    border-bottom: 2px solid #fc4949;
    background: transparent;
    padding: 8px 0px 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}

::placeholder{
    color: #fff;
}

form.form textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 70px;
    min-height: 30px;
}

form.form button{
    width: 180px;
    background-color: #fc4949;
    padding: 10px;
    border: none;
    border-radius: 25px;

    align-self:center;

    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

form.form button:hover{
    background-color: #000;
}


.orden{
    display: flex;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 0rem 10rem;
}

.descrip h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 300;
    color:#fc4949;
}

.refe img{
    width: 100%;
}

.refe img{
    width: 90%;
}

.refe2 img{
    width: 100%;
}

.refe2 img{
    width: 90%;
}

