@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

/* Fondo */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.colorqueries{
    background-color: white;
    
}

/* Consultas */


.textconsultas{
    height: auto;
    width: 50%;
    padding: 2%;
    background: url(../multimedia/imagenes/consultas.gif) no-repeat left 40%;
    background-color: rgba(0,0,0,0.75);
    background-blend-mode: soft-light;
    background-size: cover;
    width: 100%;
    height: 88vh;
    border-bottom: 2px solid black;
}

.imgconsultas{
    height: auto;
    width: 35%;
    margin-left: 7%;
    margin-bottom: 50px;
    margin-top: 60px;
}

.tittleconsultas{
    font-size: 3.5rem;
    text-align: center;
    margin-top: 170px;
    padding-bottom: 4%;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: bolder;
}

/* Medicos */

.positionespecialista{
    display: flex;
    justify-content: center;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: white;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.showtext{
    background-color: white;
    padding: 2% 5%;
}

.showtextEN{
    background-color: white;
    padding: 2% 5%;
}

.botones{
    height: auto;
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
    
}

.txt-consultas{
    color: white;
    text-align: justify;
}

.txtconsultas{
    font-size: 28px;
    padding: 0 110px 0 110px;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.txt-info{
    text-align: center;
    margin-top: 6%;
    margin-bottom: 3%;
}

.txt-info h1{
    font-size: 45px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: -15px;
}

input{
    display: none;
}

label{
    background-color: #FFFFFF;
    padding: 15px;
    margin: 2px;
    border: 1px solid #fc4949;
    border-radius: 30px;
    font-size: 20px;
}


input:checked + label{
    background-color: #fc4949;
    border: 1px solid #fc4949;
    color: white;
    transition: all ease 500ms;
}

.showtext > div{
    display: none;
}
.showtextEN > div{
    display: none;
}


.gastroenterologo img, .ortopeda img, .psiquiatra img, .alergologo img, .medico-general img, .pediatra img{
    width: 100%;
}

.img-gastro, .img-ortopeda, .img-psiquiatra, .img-alergologo, .img-generalmedic, .img-pediatra{
    width: 40%;
}
.gastroenterologoEN img, .ortopedaEN img, .psiquiatraEN img, .alergologoEN img, .medico-generalEN img, .pediatraEN img{
    width: 100%;
}

.img-gastroEN, .img-ortopedaEN, .img-psiquiatraEN, .img-alergologoEN, .img-generalmedicEN, .img-pediatraEN{
    width: 40%;
}

.boxmedics{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodytext{
    font-family: 'Ubuntu', sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 150%;
}


.medic-info{
    font-family: 'Ubuntu', sans-serif;
    width: 50%;
}

.button{
    display: flex;
    justify-content: center;
    border: none;
    margin-bottom: 40px;

}


.button-cita{
   display: flex;
   justify-content: center;
   align-items: center;
   color: black;
   background-color: #fc4949;
   font-family: 'Ubuntu', sans-serif;
   font-size: 1.25rem;
   width: 12.5rem;
   height: 3.125rem;
   border-radius: 20px;
   cursor: pointer;
   margin-top: -25px;
   margin-bottom: 35px;
}

a{
    text-decoration: none;
    color: white;
}

.button-cita:hover{
    background-color: black ;
    color: white;
    transform: translateY(-5px);
    transition: all 500ms;
}

.tittle-text{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    font-size: 2rem; 
}



@media screen and (max-width:768px) {
    .imgconsultas{
        width: 100%;
    }
    
    .textconsultas{
        width: 100%;
    }

    label{
        background-color: #FFFFFF;
        padding: 10px;
        margin: 2px;
        border: 1px solid #1180F1;
        border-radius: 30px;
        font-size: 13px;
    }

    .botones{        
        display:grid;
        grid-template-columns: 1fr 1fr;
    }


    .gastroenterologo img, .ortopeda img, .psiquiatra img, .alergologo img, .medico-general img, .pediatra img{
        width: 50%;
    }
    
    .img-gastro, .img-ortopeda, .img-psiquiatra, .img-alergologo, .img-generalmedic, .img-pediatra{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    
    .gastroenterologoEN img, .ortopedaEN img, .psiquiatraEN img, .alergologoEN img, .medico-generalEN img, .pediatraEN img{
        width: 50%;
    }
    
    .img-gastroEN, .img-ortopedaEN, .img-psiquiatraEN, .img-alergologoEN, .img-generalmedicEN, .img-pediatraEN{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    
    .boxmedics{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .medic-info{
        font-family: 'Ubuntu', sans-serif;
        width: 100%;
    }
}